@font-face {
    font-family: 'ABeeZee-Regular';
    src: url('./assets/fonts/ABeeZee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbhayaLibre';
    src: url('./assets/fonts/AbhayaLibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --abz_font: 'ABeeZee-Regular';
    --abhaya_font: 'AbhayaLibre';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width: 50px;
    height: 50px;
}

header > nav {
    display: flex;
    flex-grow: 1; 
    justify-content: flex-start;
}

.nav_list{
    display: flex;
    flex-grow: 1;
    gap: 3rem;
    padding-left: 2rem;
}

li{
    list-style: none;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: var(--abz_font);
    font-size: 1rem;
}

.burguer_menu {
    display: none;
    width: 30px;
    height: 30px;
}

@media (max-width: 500px) {
    header > nav {
        display: none;
    }
    .burguer_menu {
        display: block;
    }
}

.right_menu_buttons{
    width: 45px;
    height: 32px;
}

.right_menu{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.right_menu :last-child{
    margin-right: 8px;
}

/* FIRST ELEMENT (NEW MERCEDES) */
.car_presentation{
    position: relative;
    height: 500px; 
    overflow: hidden;
}

.car_presentation > div > img{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
}

.presentation_text{
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 2; 
    color: white;
    text-align: left; 
    padding: 2rem;
    padding-top: 3rem;
}

.presentation_text :first-child{
    font-family: var(--abhaya_font);
    font-size: 4rem;
}

.presentation_text :last-child{
    font-family: var(--abz_font);
    font-size: 1rem;
}

@media (max-width: 500px) {
    .presentation_text{
        bottom: 0;
    }
    .presentation_text :last-child{
        font-family: var(--abz_font);
        font-size: 2rem;
    }
    .presentation_text :first-child{
        font-family: var(--abhaya_font);
        font-size: 3rem;
    }
}




/* CONTACT */
.contact_sect{
    background-color: #404243;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 8rem;
    font-size: 1rem;
}

.contact{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 6rem;
}

.contact > p{
    text-align: left;
    width: 70%;
    color: white;
    font-family: var(--abz_font);
}

.contact > button{
    padding: 0.7rem;
    font-family: var(--abz_font);
    border-radius: 1.5rem;
    width: 12.5rem;
    height: 3rem;
    font-size: 1rem;
    border-width: 1px;
    border-color: black;
    background-color: white;
}




/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding: 2rem;
}

.newsletter{
    display: grid;
    justify-content: center;
    align-content: center;
}

.email{
    padding: 10px;
    font-family: var(--abz_font);
}

.terms{
    padding: 10px;
    font-family: var(--abz_font);
}

.rrss{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.rrss > a{
    text-decoration: none;
}

.rrss > a > img{
    width: 15px;
    height: 15px;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.newsletter > p{
    font-family: var(--abz_font);
    padding: 10px;
    text-align: center;
}

